<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Novo Calendário:</h3>
    </section>
  </mat-card>
    
  <mat-card>
    <span color="accent">layout de um calendario interativo futuramente aqui</span>
  </mat-card>
  <button mat-raised-button color="accent" routerLink="/index">Back</button>&nbsp;
</div>

<form [formGroup]="updateForm" class="edit-form">
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Nome" formControlName="nome" #nome>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="nVig" formControlName="nVig" #nVig>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <textarea matInput placeholder="vigTotal" formControlName="vigTotal" #vigTotal></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <br><br>
    <button type="submit" (click)="addIssue(nome.value, nVig.value, vigTotal.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
  </form>